
/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive
*/

body {
  margin: 0px 0px;
  background-color: rgba(102,150,142,1);
}

.keys-container {
  height: auto;
  width: 330px;
  margin: 0px auto 20px auto;
}
.keys-main {
  display: inline-flex;
  height: auto;
  width: auto;
  margin: 0px auto 0px auto;
}
.keys-group-dir {
  margin: 0px 1px 0px 1px;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 20px 50px 50px;
  background-color: #3e2723;
  padding: 6px;
  border-radius: 4px;
}
.keys-item {
  background-color: lightblue;
  outline: 1px solid #3e2723;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
}
.gap {
  background-color: #3e2723;
}
.ki-title {
  padding: 2px;
  grid-column-start: 1;
  grid-column-end: 4;
}




.buttons-container {
  width: 310px;
  height: auto;
  margin: 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.buttons-container button {
  font-weight: 600;
  color: black;
  width: 100px;
  height: 54px;
  background-color: lightgreen;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: green;
}
.buttons-container button:hover {
  background-color: pink;
  border-color: pink;
}
#start-btn {}
#pause-btn {}
#reset-btn {}


.status-container {
  display: grid;
  margin: 12px auto 12px auto;
  width: 600px;
  height: 100px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.mode-container {
  margin: auto auto auto auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
.lastkey-container {
  margin: auto auto auto auto;
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
#lastkey-label {

}
.coords-container {
  margin: auto auto auto auto;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  /* outline-color: yellow;
  outline-style: solid;
  outline-width: 1px; */
}
#coords {
  margin: auto auto auto auto;
  text-align: center;
  font-size: 20px;
}


#canvas {
  margin: 0px 0px;
  background-color: lightblue;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}
